/* HOME */
#hi{
    /* animation-name: l2r;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 5ms;
    animation-iteration-count: 0;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running; */
    animation: l2r 2s ease 0.1s 1 normal backwards;
        
}

@keyframes l2r {
    from {
        transform: translate(-600px,0px); 
    }

    to {
        transform: translate(0px,0px);
    }
}

#mypic{
    animation: r2l 1.4s ease 0.1s 1 reverse forwards;     
}

@keyframes r2l {
    from {
        transform: translate(-0px,0px); 
    }

    to {
        transform: translate(400px,0px);
    }
}

.img{
    animation: ftimg 1s ease 0.1s 1 normal backwards;     
}

@keyframes ftimg {
    from {
        transform: translate(-150px,0px); 
    }

    to {
        transform: translate(0px,0px);
    }
}

.serv-foot{
    animation: ftserv 1s ease 0.1s 1 reverse forwards;     
}

@keyframes ftserv {
    from {
        transform: translate(0px,0px); 
    }

    to {
        transform: translate(400px,0px);
    }
}

/* SERVICES */
#transleft{
    animation: transleft 1s ease 0.1s 1 normal backwards;     
}

@keyframes transleft {
    from {
        transform: translate(-400px,0px); 
    }

    to {
        transform: translate(0px,0px);
    }
}

#transright{
    animation: transright 1s ease 0.1s 1 reverse forwards;     
}

@keyframes transright {
    from {
        transform: translate(0px,0px); 
    }

    to {
        transform: translate(400px,0px);
    }
}

/* ABOUT */
#about-card{
    animation: transleft 1s ease 0.1s 1 normal backwards;     
}

@keyframes transleft {
    from {
        transform: translate(-400px,0px); 
    }

    to {
        transform: translate(0px,0px);
    }
}

#card-bd2{
    animation: transright 1s ease 0.1s 1 reverse forwards;     
}

@keyframes transright {
    from {
        transform: translate(0px,0px); 
    }

    to {
        transform: translate(400px,0px);
    }
}

/* CONTACT */
#form-card{
    animation: transright 1s ease 0.1s 1 reverse forwards;     
}

@keyframes transright {
    from {
        transform: translate(0px,0px); 
    }

    to {
        transform: translate(400px,0px);
    }
}



/* RESPONSE */

@media (min-width: 200px) and (max-width: 767px) {
    .contacts-foot{
        animation: ftcont 1.4s ease 0.1s 1 reverse forwards;     
    }
    
    @keyframes ftcont {
        from {
            transform: translate(0px,0px); 
        }
    
        to {
            transform: translate(450px,0px);
        }
    }

    
}